<ul class="social-media">
  <li>
    <a href="https://www.linkedin.com/in/kszubrycht" title="LinkedIn"><img src="/assets/img/linkedin-16.png" alt="LinkedIn"></a>
  </li>
  <li>
    <a href="https://twitter.com/kamilszubrycht" title="Twitter"><img src="/assets/img/twitter-16.png" alt="Twitter"></a>
  </li>
  <li>
    <a href="https://github.com/kszubrycht" title="GitHub"><img src="/assets/img/github-9-16.png" alt="GitHub"></a>
  </li>
  <li>
    <a href="mailto:kamil@szubrycht.pl" title="email"><img src="/assets/img/at-2-16.png"></a>
  </li>
</ul>
