.menu {
  ul.social-media {
    float: left;
    li {
      a {
        &:hover, &:visited, &:active {
          background: none;
        }
      }
    }
  }
}

div.highlighter-rouge {
  margin: 15px 0;
}

code.highlighter-rouge {
  color: gray;
}
